# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~
*.sublime-workspace
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# OS Files
.DS_Store
._*
.Trashes
.Spotlight-V100
.AppleDouble
.LSOverride
Icon
